<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" class="img-fluid" alt="Responsive image">
</div>
<div>
  <h3 style="text-align:right">
    {{name}}
    <br>
    {{city}}, {{state}}
    <br>
    {{email}}
  </h3>
</div>
<hr>
<div>
  <app-edu></app-edu>
</div>
<hr>
<div>
  <app-work-e></app-work-e>
</div>
<app-test-service></app-test-service>